{% extends 'base/base.html' %}

{% block sidebar %}
<div class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'dashboard_admin' %}active bg-primary text-white{% endif %}"
                   href="{% url 'dashboard_admin' %}">
                    <i class="fas fa-tachometer-alt"></i> Trang chủ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-clock"></i> Chấm công
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-money-bill-wave"></i> Lương
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-users"></i> Nhân viên
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-calendar-alt"></i> Lịch làm
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-gift"></i> Thưởng/Phạt
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-chart-line"></i> Báo cáo
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block main_class %}col-md-9 ms-sm-auto col-lg-10 px-md-4{% endblock %}